*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
    "header header"
    "content content";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    }
    .header{grid-area: header;

    }
    .rectangle_h1{background: #FFFD00;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        width: 1920px;
        height: 48px;
    }
    .Logo{
        position: absolute;
left: 367px;
right: 1460,39px;
top: 11px;
bottom: 10,76px;
width: 93px;
height: 26,24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
letter-spacing: -0.02em;
color: #232323
    }
    .form-wrapper{
        position: absolute;
width: 326px;
height: 38px;
left: 959px;
top: 68px;
right: 635px;
bottom: 1580px;
margin: auto;
background: #FFFFFF;
box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.25);
border-radius: 29px;
border: 1px solid gray;
z-index: 1;
    }
    ::placeholder{
        padding: 0 20px;
    }
    input:placeholder-shown {
        border: 1px solid white;
        padding: 0 10px;
    }
    output:placeholder-shown{
        border: 1px solid white
    }
    
    .search{
        width: 60%;
    }
    .submit{
        width: 80px;
        background-color: white;
        color:gray;
      border-radius: 10px;
      border: 1px solid gray;
          }

    .rectangle_h2{background: #FFFFFF;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        width: 1920px;
        height: 48px;
    }
    .link_0{
        position: absolute;
left: 1325px;
right: 478px;
top: 64px;
bottom: 1577px;
width: 117px;
height: 16px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
color: #A102FF;
    }
    .link_1{
        position: absolute;
left: 1483px;
right: 370px;
top: 64px;
bottom: 1577px;
width: 67px;
height: 16px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
color: #A102FF;
    }
    .content{grid-area: content;

    }
    .image1{
        position: absolute;
width: 1303px;
height: 486px;
left: 308px;
top: 135px;
border-radius: 6px 6px 0px 0px;
    }
    .rectangle_c1{
        position: absolute;
width: 1303px;
height: 503px;
left: 308px;
top: 621px;
background: linear-gradient(360deg, rgba(61, 0, 98, 0.6) 30.87%, rgba(94, 78, 78, 0) 100%), #61019A;
z-index: 1;
    }
    .item_article1{
        position: absolute;
left: 574px;
right: 485px;
top: 82px;
bottom: 381px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 40px;
letter-spacing: -0.02em;
color: #FFFFFF;
    }
    
    .image2{position: absolute;
        width: 376px;
        height: 376.94px;
        left: 448px;
        top: 685px;
        bottom: 595,06px;
        right: 1096px;
        border-radius: 199.501px;
        z-index: 2;
    }
    .rectangle_text{
        position: absolute;
left:574px ;
right: 100px;
top: 137px;
bottom: 225px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;
color: #F7F7F7;

    }
    .item_head2{
        position: absolute;
left: 574px;
right: 125px;
top: 290px;
bottom: 87px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #F7F7F7
    }

    .rectangle_c2{
        position: absolute;
width: 1303px;
height: 503px;
left: 308px;
top: 1124px;
right: 309px;
bottom: 30px;
background: #3D0062;

    }
.item_article2{
    position: absolute;
left: 530px; ;
right: 529px;
top: 53px;
bottom: 410px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 40px;
text-align: center;
letter-spacing: -0.02em;
color: #FFFFFF;
}
.rectangle_text2{
    position: absolute;
left: 115px;
right: 860px; ;
top: 146px;
bottom: 120px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;
color: #F7F7F7;
}
.rectangle_text3{
    position: absolute;
left: 488px;
right: 487px;
top: 146px;
bottom: 120px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;
color: #F7F7F7;
}
.rectangle_text4{
    position: absolute;
left: 861px;
right: 114px;
top: 146px;
bottom: 120px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;
color: #F7F7F7;
}