button {
	position: absolute;
	margin-right: 770px;
	width: 42px;
	height: 45px;
	border: none;
	background: #7BA7AB;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 1px;
	&:before {
		content: url(./imgs/f002.png);
		font-family: "Roboto";
		font-size: 16px;
		color: #F9F0DA;
		margin-top: 110px;
	}
	&:hover {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}