@use "button";
@use "topbutton";
.loader {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 10px solid blue;
	border-top: 10px solid white;
	animation: animate 2s infinite linear;
	position: absolute;
	left: 1%;
	bottom: 5%;
}
@keyframes animate {
	 
		0% {
    transform: translate(-20%, 50%) rotate(0deg);
	}

100% {
	transform: translate(-20%, 50%) rotate(360deg);}
}

@mixin border {
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	height: 48px;
	width: 1900px;

}

.element1 {
		position: absolute;
		margin-top: 0px;
		margin-bottom: 1744px;
		@include border;
		background: #FFFD00;
		border-top: 1px solid rgba(0, 0, 0, 0.08);
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
		border: 1px solid #00000014;
		display: flex;
		align-items: center;
	}

.element2 {
	margin-top: 48px;
	margin-bottom: 1696px;
	@include border;
	position: absolute;
	background: #FFFFFF;
	border-top: 1px solid rgba(0, 0, 0, 0.08);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
	border: 1px solid #00000014;
	display: flex;
	align-items: center;
}
span {
	font-weight: 700;
	font-family: "Roboto";
	position: absolute;
	left: 367px;
	top: 11px;
	bottom: 1754.76px;
	font-style: normal;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: -0.02em;
	color: #232323;
}
.link_0 {
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	position: absolute;
	left: 1325px;
	right: 478px;
	top: 24px;
	&:hover {
		color: blue;
	}
}
.link_1 {
	text-decoration: none;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	position: absolute;
	left: 1483px;
	top: 24px;
	&:hover {
		color: blue;
	}
}
html {
	box-sizing: border-box;
	background: #CCFFFFFF;
}
form {
	position: relative;
	margin-left: 45%;
	border-radius: 10px;
}
input {
	height: 42px;
	padding-left: 10px;
	border: 2px solid #7BA7AB;
	border-radius: 5px;
	outline: none;
	background: #F9F0DA;
	color: #9E9C9C;
}

@font-face {
	font-family: "Roboto";
	src: url("./fonts/roboto.medium.ttf");
}
* {
	font-family: "Roboto";
	font-weight: 400;
	padding: 0;
	margin: 0;
}
.main {
	display: grid;
	grid-template-columns: 45% 45%;
	grid-gap: 10px;
	grid-auto-rows: minmax(30px, auto);
	grid-template-areas: "img content";
	margin: 3px;
	justify-content: center;
}
.item {
	border: 1px solid black;
	padding: 10px;
	background-size: cover;
	border-radius: 5px;
}
.item1 {
	grid-row-start: 4;
	grid-row-end: 8;
	grid-column-start: 1;
	grid-column-end: 2;
	height: 472px;
	display: grid;
	align-items: center;
	background: linear-gradient(360deg, #FFFFFF 10.88%, rgba(255, 255, 255, 0) 29.1%);
}
.item2 {
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 2;
	grid-column-end: 3;
}
.item3 {
	grid-row-start: 5;
	grid-row-end: 6;
	grid-column-start: 2;
	grid-column-end: 3;
}
.item4 {
	grid-row-start: 6;
	grid-row-end: 7;
	grid-column-start: 2;
	grid-column-end: 3;
}
.item5 {
	grid-row-start: 7;
	grid-row-end: 8;
	grid-column-start: 2;
	grid-column-end: 3;
}
.item6 {
	grid-row-start: 8;
	grid-row-end: 9;
	grid-column-start: 1;
	grid-column-end: 2;
}
.item7 {
	grid-row-start: 8;
	grid-row-end: 9;
	grid-column-start: 2;
	grid-column-end: 3;
}
.item8 {
	grid-row-start: 9;
	grid-row-end: 10;
	grid-column-start: 1;
	grid-column-end: 2;
}
.item9 {
	grid-row-start: 9;
	grid-row-end: 10;
	grid-column-start: 2;
	grid-column-end: 3;
}
.item10 {
	grid-row-start: 10;
	grid-row-end: 11;
	grid-column-start: 1;
	grid-column-end: 2;
}
.item11 {
	grid-row-start: 10;
	grid-row-end: 11;
	grid-column-start: 2;
	grid-column-end: 3;
}
.item1:hover,.item2:hover, .item3:hover, .item4:hover, .item5:hover, .item6:hover, .item7:hover, .item8:hover, .item9:hover, .item10:hover, .item11:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
h5 {
	margin-bottom: -1px;
	font-weight: 700;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
}
h1 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 34px;
}
.link_13, .link_13:visited {
	display: block;
	float: left;
	margin-left: 45%;
	text-decoration: none;
	background-color: orange;
	color: whitesmoke;
	padding: 10px 15px;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 35px;
	transition: 300ms linear;
}
.link_13 {
	&:hover {
		background-color: #FFE600;
	}
}


@media  screen and (max-width: 1280px){
    .element1 {
                width: auto;        
       } 
.element2 {
	width: auto;
}
.link_0 {
	padding: 1px;
	position: absolute;
	top: 0px;
	left: 5px;
}
.link_1 {
	padding: 1px;
	position: absolute;
	top: 0px;
	left: 100px;
}
form {
	padding-left: 10px;
}
.item1 {
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 1;
	grid-column-end: 3;
	height: auto;
	display: grid;
	align-items: center;
}
.item2 {
	grid-row-start: 5;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 3;
	background: linear-gradient(90deg, #b9deed, #efefef);
}
.item3 {
	grid-row-start: 6;
	grid-row-end: 7;
	grid-column-start: 1;
	grid-column-end: 3;
	background: linear-gradient(270deg, #FFFFFF 10.94%, rgba(255, 255, 255, 0) 29.17%);
}
.item4 {
	grid-row-start: 7;
	grid-row-end: 8;
	grid-column-start: 1;
	grid-column-end: 3;
}
.item5 {
	grid-row-start: 8;
	grid-row-end: 9;
	grid-column-start: 1;
	grid-column-end: 3;
}
.item6 {
	grid-row-start: 9;
	grid-row-end: 10;
	grid-column-start: 1;
	grid-column-end: 3;
}
.item7 {
	grid-row-start: 10;
	grid-row-end: 11;
	grid-column-start: 1;
	grid-column-end: 3;
}
.item8 {
	grid-row-start: 11;
	grid-row-end: 12;
	grid-column-start: 1;
	grid-column-end: 3;
}
.item9 {
	grid-row-start: 12;
	grid-row-end: 13;
	grid-column-start: 1;
	grid-column-end: 3;
}
.item10 {
	grid-row-start: 13;
	grid-row-end: 14;
	grid-column-start: 1;
	grid-column-end: 3;
}
.item11 {
	grid-row-start: 14;
	grid-row-end: 15;
	grid-column-start: 1;
	grid-column-end: 3;
}
h1 {
	margin-bottom: -5px;
	letter-spacing: -2px;
} 
}
