.container {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10px;
    grid-auto-rows: minmax(30px, auto);    
    grid-template-areas: "img content";
    margin: 3px;
    justify-content: center;
    
}
    

.item {
    border: 1px solid black;
    padding: 10px;
    background-size: cover;
    border-radius: 5px;

    
}
.item1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    
}
.item2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
.item3 {
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 385px;
    display: grid;
    align-items: center;       
}
html {
    box-sizing: border-box;
    background: #CCFFFFFF;
}
form {
    position: relative;
    margin-left: 40%;
    border-radius:10px;
}

.link_0 {
    display: block;
    text-decoration: none;
    float: right;
    margin-right: 80px;
}
.link_1 {
    display: block;
    float: right;
    text-decoration: none;
    margin-right: 50px;    
}

span {
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
}
h5 {margin-bottom: -1px;

}
h1 {
    margin-bottom:-25px;
    letter-spacing:-2px;
}
.link_13, .link_13:visited {
    display: block;
    float: left;
    margin-left: 800px;
    text-decoration: none;
    background-color: orange;
    color: whitesmoke;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 35px; 
}
.link_13:hover{
    background-color: red;
}
.topbutton {
    width:50px;
    border:2px solid yellow;
    background:#f7f7f7;
    text-align:center;
    padding:10px;
    position:fixed;
    bottom:40px;
    right:10px;
    cursor:pointer;
    color:#333;
    font-family:verdana;
    font-size:11px;
    border-radius: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 35px;
    text-decoration: none;

    }
@media  screen and (max-width: 1280px){

    
    .item1 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        
    }
    .item2 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .item3 {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        height: auto;
        display: grid;
        align-items: center;           
    }
    .item4{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
            }
    .item5{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 3;
    }   
    .item6 {
        grid-row-start: 6;
        grid-row-end: 7;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .item7 {
        grid-row-start: 7;
        grid-row-end:8 ;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .item8 {
        grid-row-start: 8;
        grid-row-end:9 ;
        grid-column-start: 1;
        grid-column-end: 3; 
    }
    .item9 {
        grid-row-start: 9;
        grid-row-end:10 ;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .item10 {
        grid-row-start: 10;
        grid-row-end:11 ;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .item11 {
        grid-row-start: 11;
        grid-row-end:12;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .item12 {
        grid-row-start: 12;
        grid-row-end:13 ;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .item13 {
        grid-row-start: 13;
        grid-row-end: 14;
        grid-column-start: 1;
        grid-column-end: 3;
    }
            
   
    h1 {
        margin-bottom:-5px;
        letter-spacing:-2px;
    }
    
    

}
